@font-face {
    font-family: migra;
    src: url(/src/assets/Font/Migra-Extralight.ttf);
}

@font-face {
    font-family: tusk;
    src: url(/src/assets/Font/TuskerGrotesk-2600Semibold.ttf);
}

.home-all {
    background-color: transparent;
    color: white;
    height: auto;
    padding: 0 2vw;
    /* width: 92vw; */
    width: 100%;
}

.hero {
    height: 104vh;
    position: relative;
    width: 100%;
    display: flex;
    gap: 350px;
}

.home-bg {
    background-size: cover;
    filter: brightness(50%);
    position: fixed;
    width: 100%;
    z-index: -10;
}

.hero-creative {
    bottom: 18vh;
    margin-top: 320px;
    display: flex;
    flex-direction: column;
    margin-left: -290px;
    width: 1200px; /* for gap */
}

.font-style-1 {
    font-family: tusk;
    font-size: 320px;
    font-weight: 100;
    color: #f5eee6;
}

.font-style-2 {
    font-family: migra;
    font-size: 70px;
    color: #f5eee6;
    color: rgb(243, 219, 199);
}

.hero-yoo {
    display: flex;
    margin-bottom: -150px;
}

.hero-first {
    margin-left: -400px;
    margin-bottom: -70px;
}

.hero-third {
    margin-left: 30px;
    margin-top: 180px;
}

.hero-fourth {
    margin-left: -15px;
}

.hero-intro {
    margin-top: 700px;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 200;
    line-height: 0.8;
    width: 600px;
}

.intro {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    padding: 16vh 0;
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
    width: 100%;
    display: flex;
    gap: 500px;
}

.intro-heading {
    font-family: tusk;
    font-weight: 100;
    font-size: 80px;
    width: 400px;
}

.intro-content {
    width: 600px;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
}

.work-heading {
    font-family: tusk;
    font-weight: 100;
    font-size: 120px;
    margin-bottom: 100px;
    margin-left: 30px;
}

.work-img {
    width: 700px;
    height: 400px;
    border-radius: 15px;
}

.work-list-div {
    display: flex;
    width: 1000px;
    margin-bottom: 150px;
}

.work-list-heading {
    font-size: 65px;
    margin-right: 60px;
}

.sairama {
    margin-left: 50px;
}

.pathway {
    margin-left: 370px;
}

.event-radar {
 margin-left: 780px;   
}

.portals {
    margin-left: 370px;
}

.skillset {
    width: 1800px;
}

