.home-all {
    background-color: transparent;
    color: white;
    height: auto;
    padding: 0 2vw;
    /* width: 92vw; */
    width: 100%;
}

.hero {
    /* border-bottom: rgba(255, 255, 255, 0.45) 0.1vh solid; */
    height: 104vh;
    position: relative;
    width: 100%;
    display: flex;
    gap: 350px;
}

.home-bg {
    background-size: cover;
    filter: brightness(50%);
    position: fixed;
    width: 100%;
    z-index: -10;
}

.hero-creative {
    bottom: 18vh;
    font-size: 160px;
    font-weight: 200;
    line-height: 0.7;
    margin-top: 550px;
    margin-left: -20px;
}

.hero-intro {
    margin-top: 750px;
    bottom: 18vh;
    font-size: 25px;
    font-weight: 200;
    line-height: 0.7;
    width: 500px;
}

.intro {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    padding: 16vh 0;
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
    width: 100%;
    display: flex;
    gap: 500px;
}

.intro-heading {
    font-size: 80px;
    width: 400px;
}

.intro-content {
    width: 600px;
    font-size: 26px;
}

.work-img {
    width: 700px;
    height: 400px;
    border-radius: 15px;
}

.work-list-div {
    display: flex;
    gap: 250px;
    margin-bottom: 150px;
}

.work-list-heading {
    font-size: 65px;
}

.skillset {
    width: 1800px;
}