html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    z-index: 999;
    font-size: 1.2rem;
    width: 100%;
    background: rgba(23, 30, 39, 0.6); 
    backdrop-filter: blur(0.26vw); 
    -webkit-backdrop-filter: blur(0.52vw); 
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.16vw;
    max-width: 78vw;
    gap: 21.84vw;
    margin-left: 9.1vw;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 200;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
    margin-left: 5.2vw;
}

.logo-yoo {
    width: 7.8vw;
}

.img {
    margin-left: 2.6vw;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 4.16vw;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    padding-bottom: 2.6vw;
    margin-left: 21.84vw;
    margin-top: 2.6vw;
}

.nav-links {
    color: #fff;
    text-decoration: none;
}

.nav-links:hover {
    border-bottom: 0.208vw solid #fff;
    transition: all 0.2s ease-out;
}
